footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}