* {
    margin:0;
}

html {
    height: 100%;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

footer h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 10px;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}

#footer-container {
    min-width   : 100%; /* o cualquier otra altura deseada */
    min-height: 100%; /* o cualquier otra altura deseada */
}

