
.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 300px;
}

.main-zone-1 {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.main-zone-1 article {
    max-width: 90%;
    width: auto;
    padding-bottom: 10px;
    background-color: #0F969C;
}

.main-zone-1 img {
    max-width: 100%;
    width: auto;
}

.main-zone-1 a {
    color: black;
    text-decoration: none;
}

.main-zone-1 h2 {
    color: black;
    font-weight: bold;
    margin: 5px 0;
}

.main-zone-2 {
    display: flex;
    flex-direction: column;
}

.article-2-content {
    font-size: 80%;
}

.article-2 img {
    width: 10%;
    height: 10%;
}

.article-3 {
    display: flex;
    flex-direction: row;
}