
.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.main-zone-1 {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.main-zone-1 article {
    max-width: 100%;
    width: auto;
    padding-bottom: 10px;
    background-color: #0F969C;
}

.main-zone-1 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.main-zone-1 a {
    color: black;
    text-decoration: none;
}

.main-zone-1 h2 {
    color: black;
    font-weight: bold;
    margin: 5px 0;
}

.square-group {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.square {
    display: flex;
    background-color: lightgray;
    /*border: 2px solid black;*/
    border-radius: 5px;
    width: 650px;
    height: 225px;
    margin: 30px;
}

.square:hover {
    /*border-color: red;
    transition: border-color 0.3s ease;*/
    color:#666666;
}

.main-zone-2 article {
    text-align: justify;
    margin: 15px;
}

.main-zone-2 h2 {
    font-size: 24px;
    color: red;
}

.main-zone-2 p {
    font-size: 32px;
    margin-top: 28px;
    font-weight: bold;
}

.main-zone-3 article {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*border: 2px solid black;*/
    border-radius: 5px;
    margin: 10px;
}
