* {
    margin:0;
}

html {
    height: 100%;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}


.main-zone-1 {
    display: block;
    width: 60%;
    align-items: center;
    justify-items: center;
    vertical-align: center;
}

.main-zone-1 article {
    align-content: center;
}

.main-zone-1 img {
    width: 60%;
    height: 60%;
}


.main-zone-2 {
    display: flex;
    flex-direction: column;
}

.article2 {
    display: flex;
    flex-direction: row;
}

.article-2-content {
    font-size: 80%;
}

.article-2 img {
    width: 10%;
    height: 10%;
}

.article-3 {
    display: flex;
    flex-direction: row;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}


