* {
    margin:0;
}

body {
    background-color: #d9dade;
}

main {
    padding-bottom: 50px;
}

.ranking-header {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.ranking-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    background-color: white;
    max-width: 80%;
    border-radius: 20px;
    padding-bottom: 30px;
}


.ranking-table th, .ranking-table td {
    padding: 20px 60px;
    width: auto;
}

table, th, td {
    border-collapse: collapse;
}

.odd {
    background-color: #d7e7f7;
}