* {
    margin:0;
}

html {
    height: 100%;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.ranking-header {
    text-align: center;
}

.ranking-table {
   display: flex;
    justify-content: center;
    text-align: center; /* centro el contenido de cada celda */
    width: 100%;
    margin: 50px 0;
}

.ranking-table th, .ranking-table td {
    padding: 20px 60px;
    width: auto;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}
