* {
    margin:0;
}

html {
    height: 100%;
}

.header_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

.header_logo {
    margin: auto;
}

.header_button-login, .header_button-profile {
    cursor: pointer;
    border: none;
}

.header_button-login {
    background-color: #0F969C;
    padding: 10px 22px;
    color: white;
    margin-right: 20px;
    border-radius: 3px;
}

.header_button-profile {
    background-color: white;
    margin-right: 40px;
}

.header_section2 {
    display: flex;
    align-items: center;
    color: white;
    background: #294D61;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header_heading {
    margin-left: 5rem;
}

.nav {
    width: 100%;    /* no borrar por ahora, mantiene el nav a la izquierda */
}

.nav_link {
    display: inline-block;
    padding: 30px 60px;
    font-weight: bold;
}

.nav_link a {
    color: white;
    text-decoration: none;
}

.nav_link:hover  {
    background-color: #6DA5C0;
}

.nav_link:hover a {
    color: #072E33;
}


.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.teamsHeader {
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Espacio entre cada contenedor */
}
.imagen {
    width: 15%; /* Ocupa la mitad del contenedor */
}
.parrafo {
    width: 85%; /* Ocupa la otra mitad del contenedor */
}
@media screen and (max-width: 600px) {
    /* Estilos para pantallas más pequeñas */
    .imagen, .parrafo {
        width: 90%; /* En pantallas pequeñas, ocupa todo el ancho */
    }
}

footer {
    display: flex;
    color: white;
    background: linear-gradient(to right, #777777, #222222);
}



