.header-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

#login-button, #user-button {
    color: white;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#login-button {
    background-color: deepskyblue;
    padding: 10px 22px;
}

.header-section1 img {
    margin-right: auto;
}

.header-section2 {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    background: #e3a917;
    justify-content: space-between;
    width: 100%;         /* Para que la línea amarilla llegue a ambos lados de la página */
    margin-bottom: 50px;
}

.header-section2 nav {
    width: 100%;
}

.header-section2 nav ul li {
    display: inline;
    padding: 60px;
    font-weight: bold;
}

.header-section2 nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
}

article {
    width: 30%;
    margin-bottom: 20px;
}

article:first-child {
    width: 60%;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-container article {
    width: 100%;
}



