<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Home Page</title>
    <link rel="stylesheet" type="text/css" href="../../css/templates/headerStyle.css">
</head>
<body>
    <header>
        <div class="header_section1">
            <img class="header_logo" src="../../assets/images/mock_and_logos/Logo.webp" width="12%" height="12%" alt="Logo JDP">
            <a href="../pages/registerPage.html">
                <button class="header_button-signUp">Sign Up</button>
            </a>
            <a href="../pages/loginPage.html">
                <button class="header_button-login">Log In</button>
            </a>
            <button class="header_button-profile"><img src="../../assets/icons/user-icon.png" width="40" height="40" alt="User Icon"></button>
        </div>
        <div class="header_section2">
            <a href="../pages/homePage.html">
                <img class="header_heading" src="../../assets/images/mock_and_logos/F1_logo2.png" width="100" height="60" alt="Logo F1">
            </a>
            <nav class="nav">
                <ul>
                    <a href="../pages/newsPage.html"><li class="nav_link">News ▼</li></a>
                    <a href="../pages/calendarPage.html"><li class="nav_link">Calendar</li></a>
                    <li class="nav_link">Results ▼<a href="../pages/driversRatingPage.html">
                        <ul class="dropdown">
                            <a href="../pages/driversRatingPage.html"><li class="nav_link">Teams</li></a>
                            <a href="../pages/driversRatingPage.html"><li class="nav_link">Drivers</li></a>
                        </ul>
                    </a></li>
                    <a href="../pages/teamsPage.html"><li class="nav_link">Teams</li></a>
                    <a href="../pages/driversPage.html"><li class="nav_link">Drivers</li></a>
                    <a href="footer.html"><li class="nav_link">Formula Learning</li></a>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>