* {
    margin:0;
}

html {
    height: 100%;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    /*
    position: absolute;
    left: 0;
    right: 0;              // Se supone que esto es para que el footer se pegue abajo del t0do siempre
    bottom: 0;             // Sin embargo, aún no funciona bien
     */

}

footer h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 10px;
}

.column {
    width: 15%;
}

.column1 {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}

#footer-container {
    min-width: 100%;
    min-height: 100%;
}

@media all and (max-width: 720px) {
    footer {
        text-align: center;
    }

    .column, .footer_logo:not(.column) {
        display: none;
    }
    
    .column1 {
        width: auto;
        margin: 20px auto;
    }
}





