@font-face {
    font-family: 'Formula1-Bold';
    src: url('../../assets/fonts/Formula1-Bold.woff') format(woff);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

header {
    font-family: 'Formula1-Bold';
    top: 0;
    left: 0;
    right: 0;
    background: #294D61;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header_section1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: white;
    padding: 5px;
}

.header_section1 .hidden {
    display: none;
}

.header_logo {
    margin: auto;
    width: 12em;
    height: auto;
    aspect-ratio: 926/267;
}

.header_button-login, .header_button-profile, .header_button-signUp, .header_button-logout {
    cursor: pointer;
    border: none;
}

.header_button-signUp {
    background-color: white;
    padding: 12px 24px;
    color: grey;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    transition: background-color 0.5s ease;
}

.header_button-login {
    padding: 12px 24px;
    color: #0F969C;
    font-weight: bold;
    margin-right: 50px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #0F969C;
    border-style: solid;
    transition: background-color 0.5s ease;
}

.header_button-logout {
    display: inline-block;
    padding: 12px 24px;
    color: #0F969C;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    border: 2px solid #0F969C;
    background-color: #D7E7F7;
    transition: background-color 0.5s ease;
}

.header_button-profile {
    background-color: white;
    margin-right: 50px;
}

.header_button-logout:hover {
    background-color: #0F969C;
    color: white;
}

.header_button-signUp:hover {
    background-color: lightgray;
}

.header_button-login:hover {
    background-color: #d7e7f7;
}

header .logo {
    display: block;
    margin: 0 auto;
    width: 6em;
    height: auto;
    aspect-ratio: 384/216;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #6DA5C0;
    color:#294D61;
    font-weight: bold;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #6DA5C0;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

header .navbar ul li:hover >ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

header label:hover {
    color: #333;
}

@media(max-width: 980px) {

    .header_logo {
        width: 8em;
        aspect-ratio: 926/267;
    }

    .header_button-login, .header_button-signUp, .header_button-profile, .header_button-logout {
        margin-right: 20px;
        padding: 9px 18px;
    }

    header {
        padding: 20px;
    }

    header .logo {
        width: 4em;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #6DA5C0;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li {
        width:100%;
    }

    header .navbar ul li ul {
        position: relative;
        width:100%;
    }

    header .navbar ul li ul li {
        background: #3DA5C0;
    }

    header .navbar ul li ul li a:hover {
        background: #3DA5C0;
    }

    #menu-bar:checked~ .navbar {
        display: block;
    }
}