* {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.header_section1 {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

.header_logo {
    margin: auto;
}

.header_button-login, .header_button-profile, .header_button-signUp{
    cursor: pointer;
    border: none;
}

.header_button-signUp {
    background-color: white;
    padding: 12px 24px;
    color: grey;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
}

.header_button-login {
    background-color: white;
    padding: 12px 24px;
    color: #0F969C;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #0F969C;
    border-style: solid;
}

.header_button-signUp:hover {
    background-color: lightgray;
}

.header_button-login:hover {
    background-color: #d7e7f7;
}

.header_button-profile {
    display: none;
    background-color: white;
    margin-right: 40px;
}





.header_section2 {
    display: flex;
    align-items: center;
    color: white;
    background: #294D61;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header_heading {
    margin-left: 5rem;
}

ul {
    list-style: none;
}

.nav {
    width: 100%;    /* no borrar por ahora, mantiene el nav a la izquierda */
}

.nav_link {
    display: inline-block;
    padding: 30px 60px;
    font-weight: bold;
    color:white;
}

.nav_link a {
    text-decoration: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background-color: #6DA5C0;
    position: absolute;
    display: none;
    /*transition: 0.3s;*/
}

.nav_link:hover  {
    background-color: #6DA5C0;
    color: #072E33;
}

ul li:hover ul.dropdown {
    display: block;
}



