* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

.header_section1 {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 5px;
}

.header_logo {
    margin: auto;
    width: 12%;
    height: 12%;
}

.header_button-login, .header_button-profile, .header_button-signUp{
    cursor: pointer;
    border: none;
}

.header_button-signUp {
    background-color: white;
    padding: 12px 24px;
    color: grey;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    transition: background-color 0.5s ease;
}

.header_button-login {
    padding: 12px 24px;
    color: #0F969C;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 25px;
    border-width: 2px;
    border-color: #0F969C;
    border-style: solid;
    transition: background-color 0.5s ease;
}

.header_button-signUp:hover {
    background-color: lightgray;
}

.header_button-login:hover {
    background-color: #d7e7f7;
}

.header_button-profile {
    display: none;
    background-color: white;
    margin-right: 40px;
    width: 40px;
    height: 40px;
}

/*###########################################
  ####           SECTION 2               ####
  ###########################################
 */

.header_section2 {
    display: flex;
    align-items: center;
    color: white;
    background: #294D61;
    margin-bottom: 50px;
}

.header_heading {
    margin-left: 5rem;
    width:100px;
    height: 60px;
}

.nav {
    width: 100%;
}

.nav_link {
    display: inline-block;
    padding: 30px 4%;
    font-weight: bold;
    color:white;
    transition: background-color 0.3s ease;
}

.nav_link a {
    text-decoration: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    background-color: #6DA5C0;
    position: absolute;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 100%;
}

.nav_link:hover  {
    background-color: #6DA5C0;
    color: #072E33;
}

ul li:hover ul.dropdown {
    opacity: 0.98;
    visibility: visible;
}

ul.dropdown li:hover {
    text-decoration: underline;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu ul{
    top: 50px;
   display: flex;
    flex-direction: column;
}

.mobile-menu {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
    width: 100%;
    text-align: center; /* Centrar los elementos */
}

.mobile-menu ul {
    padding: 0;
    list-style: none;
}

.mobile-menu li {
    position: relative;
    display: block;
    padding: 10px 0; /* Espaciado interior */
}

.mobile-menu_link {
    color: #fff; /* Color del texto */
    text-decoration: none;
    display: block;
}

.mobile-menu_link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de fondo al pasar el ratón */
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
}

.mobile-menu li:hover .dropdown {
    display: block; /* Muestra el dropdown al pasar el ratón sobre el elemento padre */
}




/*
ul li ul.dropdown {

    position: absolute;
    z-index: 999;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
    top: 100%;
}
 */



.mobile-menu_link:hover .dropdown {
    display: block; /* Mostrar el menú desplegable al pasar el ratón */
}

@media (max-width: 960px) {
    .header_heading {
        display: none;
    }
}

@media (max-width: 800px) {
    .header_section1 {
        justify-content: flex-end;
        border-bottom: 2px solid #000000;
    }

    .header_section2 {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}
