@font-face {
    font-family: 'Formula1-Wide';
    src: url('../../assets/fonts/Formula1-Wide.woff') format(woff);
}

* {
    margin: 0;
}

html {
    height: 100%;
}

#header-container{
    top:0;
    position: sticky;
    z-index: 1;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.background-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.background-container img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    z-index: -1;
}

.background-container img[src="../../assets/images/worldMapBackground.jpg"] {
    opacity: 0.8;
}

.calendarHeader {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'Formula1-Wide';
}

.square-group {
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.square-group .square {
    display: flex;
    background: transparent;
    width: 270px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.square:hover {
    border-color: red;
    transition: border-color 0.3s ease;
}

.square:hover .square-content {
    border: 2px solid red;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px red;
}

.square-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px;
}

.back-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: white;
}

.square-content img {
    width: 100%;
    height: 100%;
    display: block;
}

.pagination-buttons {
    display: none;
}

.main-zone-1 p, .main-zone-2 p {
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 15px;
    margin-top: 18px;
}

.main-zone-1 p {
    background-color: #DFA40C;
}

.main-zone-2 p {
    background-color: gray;
}

.main-zone-1 {
    width: 50%;
    height: 40%;
}

.main-zone-2 {
    width: 115%;
    height: 100%;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}

@media only screen and (max-width: 980px) {
    .calendarHeader {
        font-size: 0.75em;
    }

    .square-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .square-group .square {
        width: 18.75em;
        height: 12.5em;
        margin: 0.63em;
    }

    .pagination-buttons {
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: -4.38em;
        margin-bottom: 1.6em;
    }

    .pagination-buttons button {
        padding: 0.63em 0.98em;
        margin: 0.5em;
        border: none;
        border-radius: 0.4em;
        color: white;
        background-color: black;
        cursor: pointer;
    }
}
