@font-face {
    font-family: 'Formula1-Wide';
    src: url('../../assets/fonts/Formula1-Wide.woff') format(woff);
}

* {
    margin: 0;
}

html {
    height: 100%;
}

header {
    z-index: 1;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.background-container {
    position: relative;
    overflow: hidden;
}

.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
}

.background-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.calendarHeader {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'Formula1-Wide';
}

.square-group {
    max-width: 70%;
    margin: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.square-group .square {
    display: flex;
    background: transparent;
    width: 270px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.square:hover {
    border-color: red;
    transition: border-color 0.3s ease;
}

.square:hover .square-content {
    border: 2px solid red;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px red;
}

.square-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 2px;
}

.back-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: white;
}

.square-content img {
    width: 100%;
    height: 100%;
    display: block;
}

.main-zone-1 p, .main-zone-2 p {
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 15px;
    margin-top: 18px;
}

.main-zone-1 p {
    background-color: #DFA40C;
}

.main-zone-2 p {
    background-color: gray;
}

.main-zone-1 {
    width: 50%;
    height: 40%;
}

.main-zone-2 {
    width: 115%;
    height: 100%;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}
