.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.main-zone-1 {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.main-zone-1:hover p {
    color: #666666;
}

.main-zone-1 article {
    margin-top: 30px;
    max-width: 100%;
    width: auto;
    padding-bottom: 10px;
}

.main-zone-1 img {
    max-width: 80%;
    max-height: 80%;
    width: auto;
}

.main-zone-1 a {
    color: black;
    text-decoration: none;
}

.main-zone-1 h2 {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0;
}

.main-zone-1 p {
    font-size: 42px;
    font-weight: bold;
}

.main-zone-2 {
    max-width: 100%;
}

.square-group {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    max-width: 100%;
}

.square {
    display: flex;
    background-color: lightgray;
    border-radius: 5px;
    width: 650px;
    height: 225px;
    margin: 30px;
}

.square:hover {
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}

.main-zone-2 article {
    text-align: justify;
    margin: 15px;
}

.main-zone-2 h2 {
    font-size: 24px;
    color: red;
}

.main-zone-2 p {
    font-size: 32px;
    margin-top: 28px;
    font-weight: bold;
}

.main-zone-3 article {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 980px) {
    .cover {
        display: block;
        margin-bottom: 5em;
    }

    .main-zone-1{
        max-width: 100%;
    }

    .square {
        display: flex;
        background-color: lightgray;
        margin: 2em 0;
    }

    .square-group{
        padding: 3em;
    }
    
    .main-zone-1 img {
        max-width: 100%;
        max-height: auto;
    }

    .main-zone-2 article {
        margin: 15px 0;
    }

}
