#header-container{
    top:0;
    position: sticky;
}

.cover {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 4em;
    margin-top: 4em;
}

.main-zone-1 {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.main-zone-1:hover p {
    color: #666666;
}

.main-zone-1 article {
    max-width: 100%;
    width: auto;
    padding-bottom: 0.8em;
}

.main-zone-1 img {
    max-width: 80%;
    max-height: 100%;
    width: auto;
}

.main-zone-1 a {
    color: black;
    text-decoration: none;
}

.main-zone-1 h2 {
    color: red;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0.3em 0;
}

.main-zone-1 p {
    font-size: 2.6vw;
    font-weight: bold;
}

.main-zone-2 {
    width: 40%;
    max-width: 40%;
    max-height: 100%;
}

.square-group {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-right: 2em;
}

.square {
    display: flex;
    background-color: lightgray;
    max-width: 90%;
    max-height: 90%;
    width: 40em;
    height: auto;
    aspect-ratio: 3 / 1;
    margin: 1em;
    padding: 1em;
}

.square:hover {
    color:#666666;
}

.main-zone-2 article {
    margin: 0.7em;
    width: 90%;
    height: 90%;
    overflow: hidden; /* Evita que el contenido desborde del contenedor */
}

.main-zone-2 h2 {
    font-size: 1.5vw;
    color: red;
    overflow: hidden; /* Asegura que el contenido extra no se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos para el texto desbordado */
    max-width: 100%;
    
}

.main-zone-2 p {
    font-size: 1.2vw;
    margin-top: 1em;
    font-weight: bold;
    overflow: hidden; /* Asegura que el contenido extra no se desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos para el texto desbordado */
    max-width: 90%;
    
}

.main-zone-3 {
    width: 60%;
    max-width: 60%;
    max-height: 100%;
}

.main-zone-3 article {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.8em;
}

.main-zone-3 img {
    display: block; /* Para que el margin: auto; funcione */
    margin: 0 auto; /* Centra horizontalmente la imagen */
    width: 28em; 
    height: auto;
    aspect-ratio: 128 / 72;
    max-width: 90%;
    max-height: 90%;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 980px) {
    .cover {
        display: block;
        margin-bottom: 5em;
    }

    .main-zone-1{
        max-width: 100%;
    }

    .square {
        display: flex;
        background-color: lightgray;
        width: 100%;
    }

    .square-group{
        width: 100%;
        height: 66%;
    }

    .main-zone-1 h2 {
        font-size: 3.5vw;
    }

    .main-zone-1 p {
        font-size: 5.6vw;
    }
    
    .main-zone-1 img {
        max-width: 100%;
        max-height: auto;
    }

    .main-zone-2 article {
        margin: 1em 0;
    }

    .main-zone-2 h2 {
        font-size: 3.5vw;
        
    }

    .main-zone-2 p {
        font-size: 3.2vw;
        
    }

    

}
