* {
    margin:0;
}

html {
    height: 100%;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.main-zone-1 {
    display: block;
    align-items: center;
    justify-items: center;
    margin-left: 45px;
    margin-top: 15px;
}

.main-zone-1 article {
    align-content: center;
    padding-bottom: 10px;
    background-color: #0F969C;
}

.main-zone-1 h2 {
    text-align: center;
    color: black;
}

.main-zone-1 p {
    text-align: center;
    color: black;
}

.main-zone-2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
}

.main-zone-2 h2 {
    color: black;
    text-align: center;
}

.main-zone-3 {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-top: 15px;
}

.main-zone-3 h2 {
    color: black;
    text-align: center;
}

.article2 {
    display: flex;
    flex-direction: row;
}

.article-2-image {
    margin-top: 25px;
    align-content: center;
    padding-bottom: 5px;
    background-color: #0F969C;
}

footer {
    font-family:'Inter', sans-serif;
    background: linear-gradient(to bottom, #294D61, #000000);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 15%;
}

.footer_logo {
    margin: 50px;
    border-radius: 8px;
}
