* {
    margin:0;
}

#header-container{
    top:0;
    position: sticky;
    background: white;
}

body {
    /*background-color: #d9dade;/*
     */

    background: linear-gradient(to right, #eee, #555);


}

main {
    padding-bottom: 4em;
}

.ranking-header {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ranking-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    background-color: white;
    max-width: 80%;
    border-radius: 20px;
    padding-bottom: 30px;
    box-shadow: 5px 0px 10px 0px rgba(255, 255, 255, 0.75);
}


.ranking-table th, .ranking-table td {
    padding: 20px 0 30px 0;
    width: auto;
}

table, th, td {
    border-collapse: collapse;
}

.even {
    background-color: #d7e7f7;
}

.first-row {
    background-color: #f2d45c;
}

@media only screen and (max-width: 980px) {
    .extra-column{
        display: none;
    }
}